name = "omni"
main = "index.ts"
compatibility_date = "2026-01-20"
compatibility_flags = ["nodejs_compat"]

[observability.logs]
enabled = true
invocation_logs = true

[observability.traces]
enabled = true

[[durable_objects.bindings]]
name = "UPDATES_DO"
class_name = "TelegramUpdatesDO"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["TelegramUpdatesDO"]
